@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: brown;
    align-items: center;
    position: relative;
    
}
.longer{
    height: 100vh;
}
.text1{
    position: absolute;
    font-family: Roboto;
    font-size: 90px;
    opacity: .2;
    left:10%;
}
.text2{
    position: absolute;
    font-family: Roboto;
    font-size: 90px;
    opacity: 1;
    width: 0px;
   
    left:10%;
    white-space: nowrap;
    overflow: hidden;
}
.text3{
    position: absolute;
    font-family: Roboto;
    font-size: 90px;
    opacity: .2;
    left:10%;
    top:50px;
}
.text4{
    position: absolute;
    font-family: Roboto;
    font-size: 90px;
    opacity: 1;
    width: 0px;
    top:50px;
    left:10%;
    white-space: nowrap;
    overflow: hidden;
}