.Catalogues{
    width: 99.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    /* border: 1px solid red; */
}
.ITEM-PARENT{
    width: 220px;
    height: 350px;
    border: 1px solid black;
    position: relative;
}

.plus-minus{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 4px;
    background-color:ghostwhite;
}
.bi-dash{
    font-weight: 600;
    font-size: 28px;
}
.bi-plus-lg{
    font-weight: 600;
    font-size: 28px;
}
.plus-minus-value{
    
    font-size: 20px;
}
.hide{
    display: none;
}
.d{
    display: block;
}